html, body{
  margin: 0;
  padding: 0;
  width: 100%;

  background: url("/static/img/1.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
