* {
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Quicksand');
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #e07d15;
  /*background: url("/static/img/1.jpg")no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

